.gamelog-icon {
  margin: 5px;
}

.gamelog-logo {
  margin: 10px;
}

.modal {
  width: 60% !important ; min-height: 50% !important; max-height: 100%% !important ;
}

.textarea {
  max-height: inherit;
}

.inline-icon {
   vertical-align: bottom;
   font-size: 18px !important;
}

.cover-image {
  margin-right: 10px;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #6a1b9a !important;
  box-shadow: 0 1px 0 0 #4a148c !important;
}

.game-data {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 0 !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #4a148c !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #6a1b9a !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #6a1b9a !important;
    border-bottom: 2px solid #6a1b9a !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #6a1b9a !important;
  box-shadow: 0 1px 0 0 #4a148c !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #6a1b9a !important;
}

.game-result
{
    cursor: pointer;
}

.review {
word-break: break-all;
}

.modal-small {
  overflow: visible;
  width: 20% !important;
  min-height:20% !important;
}
