<div id="addEntryModal" class="modal" style="overflow: visible;">
  <div class="modal-content center-align">
    <h4>Add to Diary</h4>
    <form id="add-entry-form" th:action="@{/diary}" method="post">
      <div class="input-field">
        <font size="1">Review</font>
        <textarea data-length="512" cols="20" rows="5" maxlength="512" class="materialize-textarea" name="review" />
      </div>
      <div class="input-field">
        <font size="1">Rating</font>
        <br/>
        <th:block th:each="i: ${#numbers.sequence(1, 10)}">
          <span>
            <label>
              <input name="rating" type="radio" th:value="${i}" />
              <span th:text="${i}" />
            </label>
          </span>
        </th:block>
        <span>
          <label>
            <input name="rating" type="radio" th:value="${null}" th:checked="true" />
            <span>No rating</span>
          </label>
        </span>
      </div>
      <div class="row">
        <div class="center-align col s4 input-field">
          <label>
            <input type="checkbox" name="favorite"></input>
            <span>Favorite</span>
          </label>
        </div>
        <div class="col s4 input-field">
          <label>
            <input type="checkbox" name="secret" th:checked="true" />
            <span>Private</span>
          </label>
        </div>
        <div class="col s4 input-field">
          <i class="material-icons prefix">date_range</i>
          <input type="text" name="date" class="datepicker" />
        </div>
      </div>
      <input type="hidden" name="gameid" th:value="${game.id}" />
      <div class="right-align">
        <a id="add-entry-btn" class="btn deep-purple darken-4">New entry</a>
      </div>
    </form>
  </div>
</div>