<div id="addEntryModal" class="modal" style="overflow: visible;" >
  <div class="modal-content">
    <h4>Add to Diary</h4>
    <form th:action="@{/entry}" method="post">
      <h6>Rating</h6>
      <th:block th:each="i: ${#numbers.sequence(1, 10)}">
      <span><label><input name="rating" type="radio" th:value="${i}"/><span th:text="${i}"/></label></span>
    </th:block>
        <h6>Review</h6>
        <textarea data-length="256" maxlength="256" class="materialize-textarea" name="review"/>
        <span class="left"><label><input type="checkbox" name="favorite"></input><span>Favorite</span></label></span>
        <span class="right"><label><input type="checkbox" name="secret" th:checked="true"></input><span>Private</span></label></span>
        <div class="clearfix"/>
        <i class="material-icons prefix">date_range</i>
        <input type="text" name="date" class="datepicker"/>
        <input type="hidden" name="gameid" th:value="${game.id}"/>
        <input class="btn deep-purple darken-4 right" type="submit" value="New entry"/>
    </form>
  </div>
</div>
