<div id="editEntryModal" class="modal" style="overflow: visible;" >
  <div class="modal-content">
    <h4>Edit entry</h4>
    <form th:action="@{/entry}" class="col s12" method="post">

      <h6>Rating</h6>
      <th:block th:each="i: ${#numbers.sequence(1, 10)}">
      <span><label>
        <input th:if="${entry.rating} == ${i}" name="rating" type="radio" th:value="${i}" th:checked="true"/>
        <input th:if="${entry.rating} != ${i}" name="rating" type="radio" th:value="${i}" />
        <span th:text="${i}"/>
      </label>  </span>
    </th:block>

    <h6>Review</h6>
    <textarea  data-length="256" maxlength="256" class="materialize-textarea" name="review" th:text="${entry.review}"/>

      <div class="left">
        <span><label>
          <input th:if="${entry.favorite}" type="checkbox" name="favorite" th:checked="true"/>
          <input th:unless="${entry.favorite}" type="checkbox" name="favorite" />
          <span>Favorite</span></label></span>
        </div>
        <div class="right">
          <span><label>
            <input th:if="${entry.private}" type="checkbox" name="secret" th:checked="true"/>
            <input th:unless="${entry.private}" type="checkbox" name="secret" />
            <span>Private</span></label></span>
          </div>
          <div class="clearfix"/>
          <div class="input-field">
            <i class="material-icons prefix">date_range</i>
            <input type="text" name="date" th:value="${entry.date}" class="datepicker"/>
          </div>
        <input type="hidden" name="gameid" th:value="${game.id}"/>
        <input class="btn deep-purple darken-4 right" type="submit" value="Apply"/>
      </form>
    </div>
  </div>
