<html xmlns:th="http://www.thymeleaf.org">
<nav>
  <div class="nav-wrapper deep-purple darken-4">
    <a href="/">
      <img src="/images/favicon.png" width="50" class="gamelog-icon" />
      <span class="brand-logo">Gamelog</span>
    </a>
    <ul class="right">
      <li th:if="${#httpServletRequest.remoteUser}">
        <span>Signed in as </span>
        <strong th:inline="text">[[${#httpServletRequest.remoteUser}]]</strong>
      </li>
      <li th:if="${#httpServletRequest.remoteUser}"><a href="/diary">Diary</a></li>
      <li th:if="${#httpServletRequest.remoteUser}"><a href="/lists">Lists</a></li>
      <li th:if="${#httpServletRequest.remoteUser}">
        <form th:action="@{/logout}" method="post">
          <li><a><button class="btn-flat white-text" type="submit">Logout</button></a></li>
        </form>
        </li>
        <li th:unless="${#httpServletRequest.remoteUser}"><a th:href="@{/register}">Sign up</a></li>
        <li th:unless="${#httpServletRequest.remoteUser}"><a th:href="@{/login}">Login</a></li>
        <li>
          <form method="get" style="height: 64px; width: 100%;" th:action="@{/search}">
            <div class="input-field">
              <input name="query" type="search" placeholder="Search" required="true"/>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  </html>
