<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Gamelog - ' + ${game.name}"></title>
    <div th:replace="fragments/header"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>
<h1 th:text="${game.name}"></h1>
<img th:src="${game.coverUrl}"/>
<p th:text="${game.summary}"></p>
<h6>Favorites:</h6>
<p th:text="${game.favorites}"/>
<h6>Average Rating:</h6>
<p th:text="${game.averageRatings} ? ${game.averageRatings} : 'No ratings yet!'"/>
<h6>Plays:</h6>
<p th:text="${game.plays}+ ' users have played this game.'"/>

<div th:if="${#httpServletRequest.remoteUser}">
    <div th:if="${entry}">
        <div th:replace="fragments/editEntry"/>
    </div>
    <div th:unless="${entry}">
        <div th:replace="fragments/addEntry"/>
    </div>
    <div th:if="${mylists}">
        <div th:replace="fragments/addToList"/>
    </div>
</div>

<h2>User Entries</h2>
<table class="table">
    <tr>
        <th>User</th>
        <th>Favorite</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
    </tr>
    <tr th:each="entry : ${entries}">
        <td th:text="${entry.id.player.name}"></td>
        <td> <i th:if="${entry.favorite}" class="material-icons">favorite</i></td>
        <td th:text="${entry.date}"/>
        <td th:text="${entry.review}"/>
        <td th:text="${entry.rating}"/>
    </tr>
</table>
</body>
</html>