<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Diário de Jogos</title>
</head>
<body>
<span th:if="${#httpServletRequest.remoteUser}" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
<h1>Register</h1>
<form action="#" th:action="@{/player}" th:object="${player}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Password: <input type="password" th:field="*{password}" /></p>
    <p><input type="submit" value="Create Player" /></p>
</form>
<br/>
<a href="/login"><input type="button" value="Login"/></a>
<a href="/diary"><input type="button" value="Diary"/></a>
<a href="/players">All players</a>
</body>
</html>