<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Gamelog - ' + ${list.id.name}"></title>
    <div th:replace="fragments/header" />
</head>

<body>
    <div th:replace="fragments/navbar" />
    <div class="container">
        <div class="card deep-purple lighten-5">
            <div class="card-content">
                <font size="1" class="white-text">Name</font>
                <div class="card-title" th:text="${list.id.name}" />
                <font size="1" class="white-text">Tags</font>
                <p th:if="${#lists.isEmpty(list.tags)}" class="black-text">No tags.</p>
                <p>
                    <div th:each="tag : ${list.tags}" class="chip">
                        <span th:text="${tag.name}" />
                        <i class="close material-icons">close</i>
                    </div>
                </p>
                <form th:action="'/lists/tag'" method="post">
                    <input type="hidden" name="listname" th:value="${list.id.name}"/>
                    <input type="text" name="tagname" placeholder="Tag name" />
                    <input type="submit" value="Add tag" />
                </form>
                <table class="table">
                    <tr>
                        <th>Game</th>
                        <th>Cover</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="game : ${list.games}">
                        <td>
                            <a th:href="'/game/' + ${game.id}" th:text="${game.name}" />
                        </td>
                        <td>
                            <a th:href="'/game/' + ${game.id}">
                                <img th:src="${game.coverUrl}" height="200" />
                            </a>
                        </td>
                        <td>
                            <form th:action="@{/lists/removeGame}" method="post">
                                <input type="hidden" name="listname" th:value="${list.id.name}" />
                                <input type="hidden" name="gameid" th:value="${game.id}" />
                                <input type="submit" class="btn" value="Delete" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>