<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Gamelog - ' + ${list.id.name}"></title>
    <div th:replace="fragments/header" />
    <script src="/js/list.js" />
</head>

<body>
    <div th:replace="fragments/navbar" />
    <div class="container center-align">
        <div class="card deep-purple lighten-5">
            <div class="card-content">
                <font size="1">List name</font>
                <div class="card-title center-align" th:text="${list.id.name}" />
                <font size="1">Tags</font>
                <div>
                    <p th:if="${#lists.isEmpty(list.tags)}" class="black-text">No tags.</p>
                    <form th:each="tag : ${list.tags}" th:action="@{/lists/untag}" method="post" class="chip">
                        <input type="hidden" th:name="listname" th:value="${list.id.name}" />
                        <input type="hidden" th:name="tagname" th:value="${tag.name}" />
                        <span th:text="${tag.name}" />
                        <i class="clear-tag-btn material-icons">close</i>
                    </form>
                    <form th:action="'/lists/tag'" method="post">
                        <input type="hidden" name="listname" th:value="${list.id.name}" />
                        <div class="input-field inline">
                            <input type="text" name="tagname" placeholder="Tag name" required="required" />
                        </div>
                        <i class="add-tag-btn btn-floating deep-purple darken-4 material-icons">add</i>
                        <div id="alert-generic" style="display: none"><i class="yellow-text inline-icon material-icons">warning</i><span class="yellow-text"/></div>
                    </form>
                    <font size="1">Games</font>
                    <table class="highlight responsive-table" th:unless="${#lists.isEmpty(list.games)}">
                        <tbody>
                            <tr th:each="game : ${list.games}">
                                <td>
                                    <a th:href="'/game/' + ${game.id}">
                                        <img th:src="${game.coverUrl} ? ${#strings.replace(game.coverUrl, 'cover_big', 'thumb_2x')} : '/images/nocover.png'" height="180"
                                        />
                                    </a>
                                </td>
                                <td>
                                    <a th:href="'/game/' + ${game.id}">
                                        <span class="card-title black-text" th:text="${game.name}" />
                                    </a>
                                </td>
                                <td>
                                    <form th:action="@{/lists/removeGame}" method="POST">
                                        <input name="listname" th:value="${list.id.name}" type="hidden" />
                                        <input name="gameid" th:value="${game.id}" type="hidden" />
                                        <a>
                                            <i class="clear-game-btn material-icons black-text">clear</i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p th:if="${#lists.isEmpty(list.games)}" class="black-text">No games.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>