<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Gamelog - ' + ${list.id.name}"></title>
    <div th:replace="fragments/header" />
</head>

<body>
    <div th:replace="fragments/navbar" />
    <h1 th:text="${list.id.name}"></h1>
    <h2 th:text="'Tags for ' + ${list.id.name} + ':'" />
    <div th:each="tag : ${tags}">
        <form th:action="'/lists/' + ${list.id.name} + '/removeTag'" method="post">
            <span th:text="${tag.name}" />
            <input type="hidden" name="tagname" th:value="${tag.name}" />
            <button type="submit" class="btn btn-sm">X</button>
        </form>
    </div>
    <form th:action="'/lists/' + ${list.id.name} + '/addTag'" method="post">
        <input type="text" name="tagname" placeholder="Tag name" />
        <input type="submit" value="Add tag" />
    </form>
    <table class="table">
        <tr>
            <th>Game</th>
            <th>Cover</th>
            <th>Delete</th>
        </tr>
        <tr th:each="game : ${list.games}">
            <td>
                <a th:href="'/game/' + ${game.id}" th:text="${game.name}" />
            </td>
            <td>
                <a th:href="'/game/' + ${game.id}">
                    <img th:src="${game.coverUrl}" height="200" />
                </a>
            </td>
            <td>
                <form th:action="@{/lists/removeGame}" method="post">
                    <input type="hidden" name="listname" th:value="${list.id.name}" />
                    <input type="hidden" name="gameid" th:value="${game.id}" />
                    <input type="submit" class="btn" value="Delete" />
                </form>
            </td>
        </tr>
    </table>
</body>

</html>