<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Gamelog - Register</title>
  <div th:replace="fragments/header" />
  <script type='text/javascript' src='/js/register.js'></script>
</head>

<body>
  <div th:replace="fragments/navbar"/>
  <form id="register" th:action="@{/register}" method="post">
    <div class="container">
      <h1>Sign Up</h1>
      <div class="input-field">
        <input type="text" id="name" placeholder="Username" name="name" required="required" />
        <div id="alert_name" class="yellow-text" role="alert" style="display:none"><i class="inline-icon material-icons">warning</i><span/></div>
        <div id="alert_existing_name" class="red-text" role="alert" style="display:none"><i class="inline-icon material-icons">warning</i><span>Username already exists!</span></div>
      </div>
      <div class="input-field">
        <input type="password" id="password" placeholder="Password" name="password" required="required" />
        <div id="alert_password" class="yellow-text" role="alert" style="display:none"><i class="inline-icon material-icons">warning</i>Password must be between 8 and 128 characters long.</div>
      </div>
      <div class="input-field">
        <input type="password" id="confirm_password" placeholder="Password confirmation" name="psw-repeat" required="required" />
        <div id="alert_confirm_password" class="yellow-text" role="alert" style="display:none"><i class="inline-icon material-icons">warning</i>Passwords don't match!</div>
      </div>

      <div class="clearfix">
        <button id="signup" class="btn purple darken-4" disabled="true">Sign Up</button>
        <button id="loading" class="btn purple darken-4" style="display:none"><span id="loading_text"></span></button>
      </div>
    </div>
  </form>
  <form id="login" th:action="@{/login}" method="post">
    <input id="login_name" type='hidden' name='username'/>
    <input id="login_pass" type='hidden' name='password' />
  </form>
</body>
</html>
